In [3]:
%load_ext autoreload
%autoreload 2

import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import rowgenerators as rg
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
rg.dataframe('https://www3.cde.ca.gov/demo-downloads/staffclass/StaffDemo12.txt#&target_format=tsv')

RowGeneratorError: Error tokenizing data. C error: Expected 1 fields in line 229866, saw 3
 in read_csv: path=/Volumes/SSD_Extern/metapack/www3.cde.ca.gov/demo-downloads/staffclass/StaffDemo12.txt args=() kwargs={}

In [23]:
u= rg.parse_app_url('https://www3.cde.ca.gov/demo-downloads/staffclass/StaffDemo12.txt#target_format=tsv')
u.get_resource().get_target().generator.dataframe()

,AcademicYear,RecID,DistrictCode,CountyName,DistrictName,GenderCode,EducationLevel,EthnicGroup,YearsTeaching,YearsInDistrict,EmploymentStatusCode,FTE Teaching,FTE administrative,FTE PupilServices,FileCreated
0,1213,1320697,175101,ALAMEDA,Pleasanton Unified,F,B,7,4,3,P,80.0,0.0,0.0,08/20/2015
1,1213,1326937,131617,ALAMEDA,California School for the Deaf-Fremont (State ...,F,V,7,10,10,T,100.0,0.0,0.0,08/20/2015
2,1213,1032706,131617,ALAMEDA,California School for the Deaf-Fremont (State ...,F,V,7,2,2,P,0.0,0.0,100.0,08/20/2015
3,1213,1282315,131617,ALAMEDA,California School for the Deaf-Fremont (State ...,F,V,7,12,6,T,100.0,0.0,0.0,08/20/2015
4,1213,1114773,131617,ALAMEDA,California School for the Deaf-Fremont (State ...,F,M,7,17,4,P,100.0,0.0,0.0,08/20/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332493,1213,1078911,5772686,YOLO,Esparto Unified,F,B,7,22,18,T,100.0,0.0,0.0,08/20/2015
332494,1213,1251641,5772686,YOLO,Esparto Unified,F,M,7,21,19,T,100.0,0.0,0.0,08/20/2015
332495,1213,1019083,5772686,YOLO,Esparto Unified,F,V,7,15,4,T,100.0,0.0,0.0,08/20/2015
332496,1213,1290923,5772686,YOLO,Esparto Unified,M,B,7,5,5,L,34.0,0.0,0.0,08/20/2015
332497,1213,1227860,5772686,YOLO,Esparto Unified,M,C,5,17,17,T,100.0,0.0,0.0,08/20/2015

In [12]:
#pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()
pkg.reference('StaffCred12').dataframe(sep='\t')

!!!!! () {'sep': '\t', 'dtype': {}, 'parse_dates': True, 'low_memory': False}

        AcademicYear    RecID  CredentialType  AuthorizationType FileCreated
0               1213  1129395              10              100.0  08/30/2017
1               1213  1313920              10              180.0  08/30/2017
2               1213  1037763              10              180.0  08/30/2017
3               1213  1264419              10              330.0  08/30/2017
4               1213  1074065              10              200.0  08/30/2017
...              ...      ...             ...                ...         ...
781638          1213  1222304              10              100.0  08/30/2017
781639          1213  1163184              10              100.0  08/30/2017
781640          1213  1205545              10              375.0  08/30/2017
781641          1213  1140817              90                NaN  08/30/2017
781642          1213  1188577              10              375.0  08/30/2017

[781643 rows x 5 columns]